<h1> Editar Ramo: </h1>

<%= form_for(:ramo, :url => "/admin/editarRamo") do |f| %>
<label>Sigla</label>
<%= f.text_field :sigla, :value => @ramo.sigla %></p>

<label>Nombre</label>
<%= f.text_field(:nombre, :value => @ramo.nombre) %></p>

<label>Profesor</label>
<select class="form-control" name="course[profesor]">
				<% @profesores.each do |profesor|%>
					<% if @ramo.profesor ==  profesor %>
						<option value = <%= profesor %> selected><%= profesor %></option>
					<% else %>
						<option value = <%= profesor %> ><%= profesor %></option>
					<% end %>
				<% end %>
</select>
<br>
<label>Tipo de ayundates</label></br>
<% if  @ramo.tipo_ayudante_cat %>
				Catedra<%= f.check_box(:tipo_ayudante_cat, :value => "1")%>
			<% else %>
				Catedra<%= f.check_box(:tipo_ayudante_cat,:value => "0")%>
<% end %>
</br>
<% if  @ramo.tipo_ayudante_lab %>
				Laboratorio<%= f.check_box(:tipo_ayudante_lab, :value => "1")%>
			<% else %>
				Laboratorio<%= f.check_box(:tipo_ayudante_lab,:value =>"0")%>
<% end %>
</br>
<% if  @ramo.tipo_ayudante_cor%>
				Correcion<%= f.check_box(:tipo_ayudante_cor, :value => "1")%>
			<% else %>
				correcion<%= f.check_box(:tipo_ayudante_cor, :value => "0")%>
<% end %>
</br>
<label>Campus</label>
<%= f.text_field(:campus, :value => @ramo.campus) %></p>

<label>Departamento</label> 
<%= f.text_field(:departamento, :value => @ramo.departamento) %></p>

<label>Area</label>
<%= f.text_field(:area, :value => @ramo.area) %></p>

<label>Creditos</label>
<%= f.number_field(:creditos, :value => @ramo.creditos) %></p>


<%= f.submit %>
<% end %>
