
<!DOCTYPE html>
<html lang="en">
<head>

<!-- MENU FIJADO EN TOP -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="
      r-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">Administrador</a>
  </div>

<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Ramos <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="verRamo.html">Ver Ramos</a></li>
          <li><a href="ramo_new.html">Agregar Ramo</a></li>          
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Peticiones <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="ver_peticion.html">Ver Peticiones</a></li>      
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Profesor <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="profe_new.html">Agregar Profesor</a></li>        
        </ul>
        </li>
    </ul>
    </div>
    </nav>
</head>


<body>


<h1> "Bienvenido Administrador" </h1>

<% if @etapa != nil %>
	<% if @etapa.activa == 0 %>
		<h2> Proceso Finalizado </h2> <%= link_to "Comenzar Proceso", cambiar_etapa_path(1) %>
	<% end %>
	<% if @etapa.activa == 1 %>
		<h2> Etapa Actual: Creación de Ramos </h2><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(2) %>
	<% end %>
	<% if @etapa.activa == 2 %>
		<h2> Etapa Actual: Modificación Cursos </h2><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(3) %>
	<% end %>
	<% if @etapa.activa == 3 %>
		<h2> Etapa Actual: Creacion Cursos </h2><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(4) %>
	<% end %>
	<% if @etapa.activa == 4 %>
		<h2> Etapa Actual: Postulaciones </h2><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(5) %>
	<% end %>
	<% if @etapa.activa == 5 %>
		<h2>Etapa Actual: Entrega de Resultados</h2><%= link_to "Finalizar Proceso", cambiar_etapa_path(0) %>
	<% end %>
<% else %>
	<%= link_to "Comenzar Proceso" , cambiar_etapa_path(1)%>
<% end %>


<%= javascript_include_tag "jquery-2.0.3.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "holder.js" %>
<%= javascript_include_tag "tabs_old.js" %>
</body>
</html>
