

<h2> "Bienvenido Administrador" </h2>
<table class="table table-striped">
	<thead><tr><th>Estado Actual del Proceso</th> <th></th> </tr> </thead>
	<tbody><tr><td><% if @etapa != nil %>
	<% if @etapa.activa == 0 %>
		Proceso Finalizado </td>
		<td><%= link_to "Comenzar Proceso", cambiar_etapa_path(1), :class => "btn btn-succes" %></td>
	<% end %>
	<% if @etapa.activa == 1 %>
		Creación de Ramos </td>
		<td><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(2), :class => "btn btn-succes" %></td>
	<% end %>
	<% if @etapa.activa == 2 %>
		Modificación Cursos </td>
		<td><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(3), :class => "btn btn-succes" %></td>
	<% end %>
	<% if @etapa.activa == 3 %>
		Resultado Modificaciones </td>
		<td><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(4), :class => "btn btn-succes" %></td>
	<% end %>
	<% if @etapa.activa == 4 %>
		Postulaciones </td>
		<td><%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(5), :class => "btn btn-succes" %></td>
	<% end %>
	<% if @etapa.activa == 5 %>
		Entrega de Resultados</td>
		<td><%= link_to "Finalizar Proceso", cambiar_etapa_path(0), :class => "btn btn-succes" %></td>
	<% end %>
<% else %>
	<%= link_to "Comenzar Proceso" , cambiar_etapa_path(1)%></td><td></td>
<% end %>
</td> </tr>  </tbody></table>

