

<h2> "Bienvenido Administrador" </h2>
<table class="table table-striped">
	<thead><tr><th>Estado Actual del Proceso</th> </tr> </thead>
	<tbody><tr><td><% if @etapa != nil %>
	<% if @etapa.activa == 0 %>
		Proceso Finalizado <%= link_to "Comenzar Proceso", cambiar_etapa_path(1), :class => "btn btn-succes" %>
	<% end %>
	<% if @etapa.activa == 1 %>
		Creación de Ramos <%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(2), :class => "btn btn-succes" %>
	<% end %>
	<% if @etapa.activa == 2 %>
		Modificación Cursos <%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(3), :class => "btn btn-succes" %>
	<% end %>
	<% if @etapa.activa == 3 %>
		Resultado Modificaciones <%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(4), :class => "btn btn-succes" %>
	<% end %>
	<% if @etapa.activa == 4 %>
		Postulaciones <%= link_to "Avanzar a siguiente etapa", cambiar_etapa_path(5), :class => "btn btn-succes" %>
	<% end %>
	<% if @etapa.activa == 5 %>
		Entrega de Resultados<%= link_to "Finalizar Proceso", cambiar_etapa_path(0), :class => "btn btn-succes" %>
	<% end %>
<% else %>
	<%= link_to "Comenzar Proceso" , cambiar_etapa_path(1)%>
<% end %>
</td> </tr>  </tbody></table>

