
<h2> "Agregar Ramo" </h2>

<%= form_for(:ramo, :url => "/admin/ramo_new")  do |f| %>

<label>Nombre</label>
<%= f.text_field(:nombre) %></p>

<label>Sigla</label>
<%= f.text_field(:sigla) %></p>

<label>Profesor</label>
<%= f.text_field(:profesor) %></p>

<label>Número de ayudantes</label>
<%= f.number_field(:num_ayudantes) %></p>

<br>
<label>Tipo de ayundates</label>
catedra <%= f.check_box :tipo_ayudante_cat %>
laboratorio <%= f.check_box :tipo_ayudante_lab %>
correccion <%= f.check_box :tipo_ayudante_cor %>
<br>

<label>Campus</label>
<%= f.text_field(:campus) %></p>

<label>Departamento</label> 
<%= f.text_field(:departamento) %></p>

<label>Area</label>
<%= f.text_field(:area) %></p>

<label>Creditos</label>
<%= f.number_field(:creditos) %></p>


<%= f.submit 'Agregar Ramo'%>
<% end %>

