<h2> Cambios Solicitados por el Profesor "<% @ramo.nombre %>" </h2>
<table>
<tr><td>Campo</td><td>Original</td><td> Nuevo </td> </tr>

<tr><td>Sigla</td>
		<td><%= @ramo.sigla%></td>
		<td><%= @peticion.sigla%></td></tr>

<tr><td>Nombre</td>
		<td><%= @ramo.nombre%></td>
		<td><%= @peticion.nombre%></td></tr>

<tr><td>Numero Ayudantes</td>
		<td><%= @ramo.num_ayudantes%></td>
		<td><%= @peticion.num_ayudantes%></td></tr>

<tr><td>Tipo Ayudantes</td>
		<td><%= %></td>
		<td><%= %></td></tr>

<tr><td>Criterio Seleccion</td>
		<td><%= %></td>
		<td><%= @peticion.criterio%></td></tr>
</table>