<h2> Cambios Solicitados por el Profesor "<%= @ramo.profesor %>" </h2>
<table>
<tr><td>Campo</td><td>Original</td><td> Nuevo </td> </tr>

<tr><td>Sigla</td>
		<td><%= @ramo.sigla%></td>
		<td><%= @peticion.sigla%></td></tr>

<tr><td>Nombre</td>
		<td><%= @ramo.nombre%></td>
		<td><%= @peticion.nombre%></td></tr>

<tr><td>Numero Ayudantes</td>
		<td><%= @ramo.num_ayudantes%></td>
		<td><%= @peticion.cant_ayudantes%></td></tr>

<tr><td>Tipo Ayudantes</td>
		<td><%= %></td>
		<td><%= %></td></tr>

<tr><td>Criterio Seleccion</td>
		<td><%= %></td>
		<td><%= @peticion.criterio%></td></tr>
<tr><td></td>
		<td><%= link_to "Aceptar", aceptar_peticion_path(@peticion.id) %></td>
		<td><%= link_to "Rechazar", rechazar_peticion_path(@peticion.id) %></td>
</table>