<h2> Cambios Solicitados por el Profesor "<%= @ramo.profesor %>" </h2>
<table class="table table-striped">
	<thead><tr><th>Campo</th><th>Original</th><th> Nuevo </th> </tr>
</thead>
<tbody>
<tr><td>Sigla</td>
		<td><%= @ramo.sigla%></td>
		<td><%= @peticion.sigla%></td></tr>

<tr><td>Nombre</td>
		<td><%= @ramo.nombre%></td>
		<td><%= @peticion.nombre%></td></tr>

<tr><td>Numero Ayudantes</td>
		<td><%= @ramo.num_ayudantes%></td>
		<td><%= @peticion.cant_ayudantes%></td></tr>

<tr><td>Tipo Ayudantes</td>
		<td><%= %></td>
		<td><%= %></td></tr>
<tr><td></td>
		<td><%= link_to "Aceptar", aceptar_peticion_path(@peticion.id), :class => "btn-success" %></td>
		<td><%= link_to "Rechazar", rechazar_peticion_path(@peticion.id), :class => "btn-success" %></td>
		</tbody>
</table>