
<h2> Ver Ramos </h2>

<div class=" row">
<div class="col-lg-12">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Sigla</th>
				<th>Nombre</th>
				<th>Profesor</th>
				<th>Cantidad de Ayudantes</th>
				<th>Tipo de Ayudante</th>
				<th>Campus</th>
				<th>Departamento</th>
				<th>Área</th>
				<th>Creditos</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @ramos.each do |ramo| %>
				<tr>
					<td><%= ramo.sigla %></td>
					<td><%= ramo.nombre %></td>
					<td><%= ramo.profesor %></td>
					<td><%= ramo.num_ayudantes%></td>

					<td><% dummy = "|"%>
	      			<%if ramo.tipo_ayudante_cat %>
	      				<% dummy = dummy + "catedra|"%>
	      			<% end %>
	      			<%if ramo.tipo_ayudante_lab %>
	      				<% dummy = dummy + "laboratorio|"%>
	      			<% end %>
	      			<%if ramo.tipo_ayudante_cor %>
	      				<% dummy = dummy + "corrección|"%>
	      			<% end %>
	      			<%= dummy %>
	      			</td>

					<td><%= ramo.campus %></td>
					<td><%= ramo.departamento %></td>
					<td><%= ramo.area %></td>
					<td><%= ramo.creditos %></td>
					<td>
						<% if ramo.activo %>
							<%= "Activo" %>
						<% else %>
							<%= "Inactivo" %>
						<% end %>
					</td>
					<td>
						<%= link_to "Editar", editar_ramo_admin_path(ramo.id), :class => "btn-success"%>
						<%= link_to "Eliminar", eliminar_ramo_admin_path(ramo.id), :class => "btn-success"%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% if @ramos.empty? %>
		<center>
			Actualmente no existen ramos
		</center>
	<% end %>
</div>
</div>