

	<%= form_for(:editar_ramo, :url => "/profe/editarRamo") do |f| %>

		<label>sigla</label>
		<%= f.text_field :sigla, :value => @ramo.sigla %>
		<br>
		<label>nombre</label>
		<%= f.text_field :nombre, :value => @ramo.nombre %>
		<br>
		<label>cantidad de ayudantes</label>
		<%= f.number_field :num_ayudantes, :value => @ramo.num_ayudantes %>
		<br>
		<label>tipo de ayundates</label>
		catedra <%= f.check_box :tipo_ayudante_cat %>
		laboratorio <%= f.check_box :tipo_ayudante_lab %>
		correccion <%= f.check_box :tipo_ayudante_cor %>
		<br>
		
		<br>
		<%= f.submit "Enviar solicitud de cambio" %>
		<a href="/profe/index">Volver</a>

<% end %>


