<h2>Noticias</h2>
<table class="table table-striped">
	<thead><tr><th>Estado Actual del Proceso</th> </tr> </thead>
	<tbody><tr><% if @etapa != nil %>
	<% if @etapa.activa == 0 %>
		Proceso Finalizado
	<% end %>
	<% if @etapa.activa == 1 %>
		Creación de Ramos
	<% end %>
	<% if @etapa.activa == 2 %>
		Modificación Ramos
	<% end %>
	<% if @etapa.activa == 3 %>
		Resultados Modificaciones 
	<% end %>
	<% if @etapa.activa == 4 %>
		Postulaciones
	<% end %>
	<% if @etapa.activa == 5 %>
		Entrega de Resultados
	<% end %>
 <td> </td> </tr>  </tbody></table>

<table class="table table-bordered">
			<h3><span class="label label-info">Datos personales</span></h3>
			<tbody>
				<tr>
				<td class="success">Nombre:</td>
				<td><%= @profesor.nombre %></td>
				<td class="success">Rol:</td>
				<td><%= @profesor.rol %></td>				
				</tr>
				<tr>
				<td class="success">Mail:</td>
				<td><%= @profesor.mail %></td>
				<td class="success">Departamento:</td>
				<td><%= @profesor.departamento %></td>						
				</tr>
				<td class="success">Oficina:</td>
				<td><%= @profesor.oficina %></td>						
				</tr>
			</tbody>
		</table>
<br />
<br />
<br />



<%= link_to "Mis Cursos", "/profe/mis_cursos" %>



