
	  	<table class="table table-striped">
		<thead>
			<tr>
			<th>Rol</th>
			<th>Nombre</th>
			<th>Prioridad Académica</th>
			<th>Nivel Ayudante</th>
			<th>Prioridad</th>
			<th>Tipo</th>
			<th>Status postulación</th>
			<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @postulaciones.each do |postula| %>
			<% alumno = Db_alumno.find_by_rol(postula.id_alumno) %>
	            <tr>
	            	<td><%= alumno.rol %></td>
	            	<td><%= alumno.nombre %></td>
	            	<td><%= alumno.prioridad %></td>
	            	<td><%= alumno.categoria %></td>
	            	<td><%= postula.prioridad %></td>
	  				<td><% dummy = "|"%>
	      			<%if postula.cat %>
	      				<% dummy = dummy + "catedra|"%>
	      			<% end %>
	      			<%if postula.lab %>
	      				<% dummy = dummy + "laboratorio|"%>
	      			<% end %>
	      			<%if postula.cor %>
	      				<% dummy = dummy + "corrección|"%>
	      			<% end %>
	      			<%= dummy %></td>
	  				<td><%= postula.status %></td>	  				
	  				<td>
	  					<% if @etapa.activa != 6 %><!-- aqui tiene que estar en la etapa correcta -->
	  						<%= link_to "Aceptar", aceptar_path(postula.id,params[:id]), :confirm => '¿Está seguro?', :class => "btn-succes" %>
								<%= link_to "Rechazar", rechazar_path(postula.id,params[:id]), :confirm => '¿Está seguro?', :class => "btn-succes"%>
	  					<% else %>
	  						No hay acciones disponibles
	  					<% end %>
	  				</td>
	  			</tr>
	  		<% end %>
		</tbody>
	  	</table>
		</div>
	</div>
</div>

 