<!DOCTYPE html>
<html>
<head>
  <title>TSC2013</title>
 

   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">
    <!-- Bootstrap core CSS -->
    <!--%= stylesheet_link_tag "bootstrap.css", :media => "all" %-->
    <!--%= stylesheet_link_tag "justified-nav.css", :media => "all" %-->
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
     <!-- <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="app/assets/stylesheets/justified-nav.css" rel="stylesheet">
  <style type="text/css" id="holderjs-style"></style>-->

</head>
<body>

<% if session[:type] == "alumno" %>

<!-- MENU FIJADO EN TOP -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="
      r-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index">Alumno</a>
  </div>

<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">      
        <li> <%= link_to "Postular", :controller => "alumno", :action => "postular" %> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Cerrar Sesión", logout_path%>
      </li>
    </ul>
    </div>
    
</nav>

<% end %>

<% if session[:type] == "profesor" %>

<!-- MENU FIJADO EN TOP -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="
      r-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/profe/index">Profesor</a>
  </div>

<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">      
        <li> <%= link_to "Mis Cursos", :controller => "profe", :action => "mis_cursos" %> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Cerrar Sesión", logout_path%>
      </li>
    </ul>
    </div>
    
</nav>

<% end %>


<% if session[:type] == "administrator" %>
<!-- MENU FIJADO EN TOP -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="
      r-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index">Administrador</a>
  </div>

<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">     
        <li> <%= link_to "Ver Ramos", :controller => "admin", :action => "verRamo" %> </li>        
        <li> <%= link_to "Agregar Ramo", :controller => "admin", :action => "ramo_new" %> </li>
        <li> <%= link_to "Ver Peticiones", :controller => "admin", :action => "peticiones" %> </li>
        <li> <%= link_to "Agregar Profesor", :controller => "admin", :action => "profe_new" %> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Cerrar Sesión", logout_path%>
      </li>
    </ul>
    </div>
    
</nav>
<% end %>


<div id="wrapper">
  <link href="css/style.css" rel="stylesheet" type="text/css">
    
    <div id="tabContainer">
      <div id="tabs">
        
      </div>

      <div id="tabscontent">
<%= yield %>
  </div>
</div>
</div>


<%= javascript_include_tag "jquery-2.0.3" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "tab" %>
<%= javascript_include_tag "tabs" %>
<%= javascript_include_tag "tabs_old" %>

</body>
</html>
