<!DOCTYPE html>
<html>
<head>
  <title>TSC2013</title>
 

   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
    <%= stylesheet_link_tag "justified-nav.css", :media => "all" %>

     <!-- <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="app/assets/stylesheets/justified-nav.css" rel="stylesheet">
  <style type="text/css" id="holderjs-style"></style>-->

</head>
<body>



<%if session[:type] == "alumno" %>
<% end %>

<%if session[:type] == "profesor" %>
<% end %>

<%if session[:type] == "administrador" %>


<!-- MENU FIJADO EN TOP -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="
      r-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">Administrador</a>
  </div>

<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Ramos <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="verRamo.html">Ver Ramos</a></li>
          <li><a href="ramo_new.html">Agregar Ramo</a></li>          
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Peticiones <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="ver_peticion.html">Ver Peticiones</a></li>      
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Profesor <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="profe_new.html">Agregar Profesor</a></li>        
        </ul>
        </li>
    </ul>
    </div>
    </nav>

<% end %>
<%= yield %>


<%= javascript_include_tag "jquery-2.0.3.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "holder.js" %>
<%= javascript_include_tag "tabs_old.js" %>

</body>
</html>
